
.primary-header .groupheader {
    background-color: #337ab7;
    font-size: 12px;
    text-align: center;
    /*padding: 3px;*/
    margin-bottom: 30px;
	border-radius: 0px;
    /* font-size: 13px; */
  }
  .primary-header .groupheader label {
    color:#fff;
    /* padding: 16px; */
  }
  .primary-header .xcontainerbox {
        margin: 5px 5px;
  }
  .primary-header .xcontainerbox .groupheader {
    
    text-align: left;
   
    /* position: relative; */
    /* top: 10px; */
   padding: 5px 10px 24px 10px;
  }
  .primary-header .xcontainerbox .groupheader label{
    color: #ffffff;
    font-size: 18px;
    /* margin: 10px; */
    position: relative;
    top: 0;
 font-weight: normal !important;
  }
  
  .primary-header.v_layout , .primary-header .h_layout{
    /* margin: 0 10px; */
    font-size: 10px;
    color: #106bad;
    font-weight: bold;
    /* margin: 1em 3.4em 0 10px; */
    position: relative;
  }
  .primary-header .h_button {
    /* background-color: #337ab7; */
    color: #fff;
    border-radius: 4px;
    border-color: transparent;
    border-color: #98012e;
    background-color: #98012e;
  }
  .primary-header .h_button.sec-btn{
     border-color: #98012e;
    background-color: transparent;
    color: #98012e;
  }
  
  .primary-header .inputFieldLeftAlign, .primary-header .v_label{
  font-family: arial !important;
    /* z-index: 9 !important; */
    color: #0067a7 !important;
   padding-bottom: 20px !important;
    height: 15px !important;
    font-weight: normal !important;
    font-size: 13px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.46px !important;
	padding-left: 0px;
padding-top: 4px;
  }
 
  
  /*.primary-header .PlanType label{
  font-family: arial !important;
     z-index: 9 !important; 
    color: #0067a7 !important;
    height: 13px !important;
    font-weight: normal !important;
    font-size: 13px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.46px !important;
	padding-top: 4px;
  }*/
  
  .primary-header .fieldsbox {
    height: 30px;
    margin-bottom:10px;
  }
  .primary-header .fieldsbox input {
    color: #555;
cursor: default;font-size: 13px;border: groove;/* border-radius: 4px; */height: 25px;
/*background-color: white;*/
    /* width: 200px; */
    /* margin-top: 0px; */
font: -webkit-small-control;
/*margin-top:-50px;*/
  }
  .primary-header .selectbox,.left_align, .primary-header .inputFieldLeftAlign, .primary-header .CodeLabel  label{
height: 30px;
color: #0067a7 !important;
background-color: #fff;
background-image: none;
 border: 0px solid #ccc; 
/*border-radius: 4px;*/
/* margin: 0 0 0 0; */
font-size:13px !important;
font: -webkit-small-control;
padding-top:4px;
letter-spacing: 0.46px !important;
width: 160px;
}

.primary-header .fieldsbox input.input {
height: 30px;
color: #555;
/*background-color: #fff;*/
background-image: none;
 border: 0px solid #ccc; 
/*border-radius: 4px;*/
/* margin: 0 0 0 0; */
font-size:15px !important;
font: -webkit-small-control;
padding-left: 0px;
}

  .primary-header .autoextent .left_align {
  border-color: transparent;
  }
  
  .primary-header .input#input8, .primary-header .input#input7  {
    height: 30px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  
  .primary-header button.item.small.lookup_button {
    position: relative;
    left: 120px;
    top: -22px;
  }
  .primary-header .listbox{
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
   
  }
  .primary-header .selectfield button.closed {
  background-color:transparent;
right:0.5em;
top:-0.3em;
  }
  
  .primary-header .h_layout.field_col{
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .primary-header .choicegroup .h_label {
   border-color: transparent;
  }
  .primary-header .lookup.fieldsbox {
    margin-right: 0;
  }
  /* Scrollbar styles */
  ::-webkit-scrollbar {
  width: 1em;
  height: 10px;
  }
  
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #c3c8ce;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: #2196F3;
  outline: 0.1em solid #2196F3;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #0271fd;
  }
  .primary-header button, .primary-header .h_button, .primary-header .v_button {
      background-image: none;
      height: 30px;
  }
  .h_layout{
  margin: 1em 3.4em 5px 0;
  }
  .primary-header.v_layout, .primary-header .h_layout .choicebox {
  position:relative;
  top:20px;
  }
  /*.primary-header.v_layout, .primary-header .h_layout .simplecontainer.right_align{
  position:relative;
  top:40px;
  }*/
  
  .primary-header .choicebox label, .h_choicebox label, .v_choicebox label
  {
	  width:100% !important;font-size: 14px;padding-top: 10px;font-weight: normal;color: black;
  }
  
  .primary-header .grid.data th,.grid.navigational th {
    background-color: #eee;
    background-image: none;
    border-color: transparent;
    height: 30px;
    border: none;
    text-align: center;
    padding-left: 0;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    width: auto;
  }
  .primary-header .grid.data th label,.primary-header .grid.navigational th label {
    color: #080808;
    font-size: 14px;
    font-weight: bold;
  }
  .primary-header td .fieldsbox input.input {
   border:none;
   font-size: 12px !important;
   /*color: #000;*/
  }
  .primary-header .highlight, .primary-header .grid tr.highlight.evenrow, .primary-header .grid tr.highlight.oddrow, .primary-header .grid tr.highlight, .primary-header menuitem.highlight, .primary-header .evenrow.highlight, .primary-header .oddrow.highlight, .primary-header .lightmedium.highlight, .primary-header .light.highlight {
       background-color: #fff;
       border: none;
  }
  .primary-header .grid.data tbody td,.grid.navigational tbody td{
    border: none;
    padding-left: 12px !important;
    /* height: 31px; */
  }

.primary-header td .fieldsbox input.input {	
border: none;
	text-align: center;
	font-size: 12px !important;
}

  .primary-header .f_layout .left_align {
    border:none;
  }
  
  .primary-header .h_layout.field_input label{
      font-size: 10px;
      color: #106bad;
      font-weight: bold;
      position:relative;
      top: 0;
      left: -3px;
  }
  .primary-header .f_layout .simplecontainer.left_align img {/* padding-right: 3px; */padding-left: 5px;}
  .primary-header .look_right button.item.small.lookup_button{
    left:170px;
  }
  .primary-header .look_right{
    position:relative;
  }
  .primary-header .look_right.topview .v_label{
    top:0;
    margin: 1px 0;
  }
  .primary-header .floating_coln{
    position:relative;
  }
  .primary-header .floating_coln.topview .v_label{
    top:0;
    margin: 1px 0;
  }
  .primary-header td .fieldsbox{
    padding: 0px;
    margin-bottom: 0;
  }
  .primary-header .h_layout.autoextent .simplecontainer.left_align img {
    padding: 5px 15px 0 0;
  }
  .primary-header #TskResId{
    margin: 1px 0 0;
    padding: 3px;
  }
.primary-header .dropDown_colm {
    margin-top:24px;
font-size: 10px;
      color: #106bad;
      font-weight: bold;
      position:relative;
      top:0px;
  }

.primary-header .dropDown_Operator {
    margin-top:-2px;
font-size: 10px;
      color: #106bad;
      font-weight: bold;
      position:relative;
      top:0px;
  }
.primary-header .dropDown_Operator label  {
    margin-top: 11px;
     font-size: 10px;
    color: #106bad;
    
  }
.primary-header .dropDown_colm  label  {
    margin-top: 11px;
     font-size: 10px;
    color: #106bad;
    
  }
 .primary-header.v_layout, .primary-header .h_layout.saved_search{
    position:relative;
    left: 470px;
  }

 .primary-header .tabcontainer
{
    background:#ffffff !important;
}



.primary-header span
{
/*    color: #106bad;
    font-size: 15px;*/
    margin-left: -2px; 
color: #0067a2 !important;
    font-family: arial !important;
    height: 20px !important;
    font-weight: normal !important;
    font-size: 18px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.64px !important;
}


.primary-header p
{
 
    font-size: 13px;
    color: black;

}

.primary-header .h_choicebox
{
 width:100% !important;font-size: 14px;padding-top: 10px;font-weight: normal;
}

.primary-header .CaseScreen .activetab
{

    background: #106bad !important;
   /* display: -webkit-inline-box  !important;
           height: 35px;
    padding: 10%;*/
/*font-size: x-large;*/
margin-left: 20px !important;
    height: 45px;
    object-fit: contain;
    border: 0px none;
font-size:xx-large;
}

.primary-header .activetab
{

    background: #106bad !important;
   /* display: -webkit-inline-box  !important;
           height: 35px;
    padding: 10%;*/
/*font-size: x-large;*/
margin-left: 20px !important;
    height: 50px;
    object-fit: contain;
    border: 0px none;
font-size:xx-large;
}

.primary-header .activetab label
{

    font-size: 18px !important;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Arial !important;
    font-weight: normal !important;
    color: #ffffff !important;
    /* font-family: sans-serif !important; */
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 1.03px;

}

 .primary-header .CaseScreen .inactivetab
{
   
    /*background: transparent !important;
    display: -webkit-inline-box !important;
    height: 35px;
    padding: 10%;*/
    margin-left: 20px !important;
    height: 45px;
    object-fit: contain;
    border: 1px solid;
    border-color: #d3d3d373;
    background-color: transparent;
font-size:xx-large;
}

 .primary-header .inactivetab
{
   
    /*background: transparent !important;
    display: -webkit-inline-box !important;
    height: 35px;
    padding: 10%;*/
    margin-left: 20px !important;
    height: 50px;
    object-fit: contain;
    border: 1px solid;
    border-color: #d3d3d373;
/*    background-color: transparent;*/
    background-color: rgb(238,238,238);
font-size:xx-large;
}

.primary-header .notesInactive{
	margin-left: 20px !important;
    height: 50px;
    object-fit: contain;
    border-color: #ffff;
    background-color: transparent;
font-size:xx-large;
}

.primary-header .reqNotes  .reqnotesDivclass{
    font-size: 15px;
    font-family: Arial !important;
    font-weight: normal !important;
color:#555;
overflow-x:hidden;
white-space:pre-wrap !important;
}

.primary-header .reqNotes .diffFont span{
    font-family: arial !important;
    /* z-index: 9 !important; */
    color: #0067a7 !important;
    padding-bottom: 20px !important;
    height: 15px !important;
    font-weight: normal !important;
    font-size: 13px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.46px !important;
    padding-left: 0px;
    padding-top: 4px;
}



 .primary-header .inactivetab label
{

   font-size: 18px !important;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Arial !important;
    font-weight: normal !important;
    color: #00629b !important;
    /* font-family: sans-serif !important; */
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 1.03px;

}
 .primary-header .tabcontent
{
  margin-top: 32px !important;
    margin-left: 0.5%;
    border-radius: 0px;
    border-color: #d3d3d338;
    object-fit: contain;
    box-shadow: 0 1px 3px 1px rgba(205,205,205,0.5);
}

 .primary-header .v_layout .simplecontainer
{
   /* margin-left:10px !important;*/
}

.primary-header .NotesType  .h_choicebox{
width:125px !important;
}
.primary-header .Notes  .fieldsbox{
height:auto !important;
margin-top: -15px;

}

.primary-header .IMcall .h_choicebox{
width:125px !important;
margin-top: 1px;
}
.primary-header .IMcall {
left:10px;
}

.primary-header .Notes  button,.primary-header .OtherButton button{
    font-size: 14px;
    width: auto;
    background-color: #D3D3D3;
    color: #000000;
   padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
border-color: transparent;
margin-left: 110%;
}

.primary-header .notesHistory  .fieldsbox{
padding-top: 25px;
height:204px;
font-size:14px;
 font-family: Arial !important;
 font-weight: normal !important;
}

.primary-header .InputBorder2 textarea{

    padding-top: 4px;
    padding-left: 7px;
     height: 100px;
font: -webkit-control;
border-color: #d3deed;
border-style: solid !important;
border-width: 1px !important;;
background-color: #fff;
color: black;
resize: none;
font-size: 15px !important;

}

.primary-header .Notes  textarea
{
font: -webkit-control;
border-color: #d3deed;
border-style: solid;
border-width: 1px;
background-color: #fff;
color: black;
height: 100%;
resize: none;
font-size: 15px !important;
}

.primary-header .notesHistory span
{
/*color: #000000 !important;*/
}

.primary-header .notesHistory  .fieldsbox textarea{
border: 0px solid #ffff;
color:#555;
margin-top: -13px;
//pointer-events:none;
height: 110% !important;
resize: none;
overflow-y: auto;
}

   .primary-header .alignHeader .h_layout{
  /*font-family: arial !important;
     z-index: 9 !important; 
    color: #0067a7 !important;
    padding-bottom: 4px !important;
    height: 15px !important;
    font-weight: normal !important;
    font-size: 13px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.46px !important;*/
	padding-left: 12px;
  }
  
  .primary-header .paddingScrollCase .h_layout{
	 padding-left: 30px; 
  }
  
    .primary-header .paddingScrollCase1 .h_layout{
	 padding-left: 50px; 
  }
  
  .primary-header .paddingScroll .fieldsbox{
	 padding-left: 90px; 
  }
  
 
  .primary-header .paddingScrollField1 .fieldsbox{
	 padding-left: 110px; 
width: 230px !important;
  }

  .primary-header .paddingScrollFieldUW .fieldsbox{
	 padding-left: 110px; 
width: 270px !important;
  }
  
.primary-header .UwTab .h_choicebox{
width:155px !important;
}
.primary-header .pending-button .btn-default.active,
.primary-header .pending-button button,
.primary-header .pending-button button:hover,
.primary-header .pending-button .btn-default:active,
.primary-header .pending-button .open>.dropdown-toggle.btn-default {
    background-color: #98012e;
    color: #fff;
    margin: 0 10px;
height:auto !important;
}

.primary-header .pending-button .dropdown-menu>li>a {
    color: #98012e;
}
.primary-header .pending-button button.iapp-typical-btn {
    margin: 2px 0 0;
    background-color: transparent;
    color: #98012e;
    border: 1px solid #98012e;
    padding: 5px 20px;
    width:160px;
}
.primary-header .pending-button .dropdown-menu {
    padding-top: 0px;
    padding-bottom: 2px;
}
.primary-header .pending-button .caret{
    height: auto !important;
    color: #fff !important;
}
.primary-header  input[type=radio] {
    margin: 0 .5em 0 0;
}
.primary-header .AppQues .grid.data th,.primary-header .AppQues .grid.navigational th{
    background-color: #ffffff;
    background-image: none;
    border-color: transparent;
    height: 30px;
    border: hidden;
    text-align: left;
    padding-left: 0;
}

.primary-header input[type=text] {
  width: 23%;
  box-sizing: border-box;
  border: none;
  background-color: #D3D3D3;
  color: #000000;
}
.primary-header .AppQues  .grid.data th label,.primary-header .AppQues .grid.navigational th label {
    color: #0067a2 !important;
    font-family: arial !important;
    height: 20px !important;
    font-weight: normal !important;
    font-size: 18px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.64px !important;
}
.primary-header .AppQues  .grid.data tbody,.grid.navigational tbody{
    border: hidden;
}
  .primary-header .AppQues   td .fieldsbox input.input {
  color: #555;
font-size: 13px;
  }
  
 .primary-header .fieldsbox input[type=text]{
    color: #555;
cursor: default;
font-size: 13px;
/*height: 25px;*/
background-color: #EFEEEE;
border: 1px solid #D5D5D5;
border-color: #D5D5D5;
border-radius: 0px;
font: -webkit-small-control;
width: 115px;
margin-top:0px;
  }
  .primary-header textarea{
height: 50px;
/*background-color: #fff;*/
background-image: none;
 border: 0px solid #ccc; 
     font-size: 15px;
    color: #555;
	margin-top:10px;
/*border-radius: 4px;*/
/* margin: 0 0 0 0; */
/*font: -webkit-small-control;*/
    /* z-index: 9 !important; */
	/*resize: both;*/
overflow: hidden;
font-weight: normal;
}

.primary-header .inputText textarea{
height: 50px;
background-color: #fff;
background-image: none;
 border: 0px solid #ccc; 
     font-size: 15px;
    color: #555;
	margin-top:10px;
    resize: none;
margin-left: -7px;
font-weight: normal;
}

.primary-header .inputTextHeader textarea{
height: 50px;
background-color: #fff;
background-image: none;
 border: 0px solid #ccc; 
     font-size: 15px;
    color: #555;
	margin-top:10px;
    resize: none;
padding-left: 10px;
font-weight: normal;
}

 .primary-header .rollercontainer 
{
left: -10px !important;
top: 6px !important;
}

.primary-header .Header{
left:10px;
}
.primary-header .MasterApplication span
{
font-size:15px !important;
font-style: italic !important;
}

.primary-header .productNames span {
color: #106bad;
    font-size: 15px;*/
    margin-left: -2px; 
color: #0067a2 !important;
    font-family: arial !important;
    height: 20px !important;
    /*font-weight: normal !important;*/
    font-weight: bold;
    font-size: 15px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.64px !important;
}
.data input.output.ifocus, .data .input[class~=output]:focus {
font-size: 10px !important;
}

.primary-header .btnCss {
  background-color: white;
  border-color: white;
  border: 0px solid #FFFFFF; 
  color: #0067a7;
  padding-left: 0px;
  font-size: 15px;
 /* cursor: pointer;*/
  height: 0px;
    width: 100px;
    font-weight: normal;
	margin-left: -20px;
	
}

.primary-header .refreshBtn {
  background-color: white;
  border-color: white;
  border: 0px solid #FFFFFF; 
  color: #0067a7;
  /*padding-left: 10px;*/
  font-size: 15px;
  cursor: pointer;
  height: 0px;
    width: 100px;
    font-weight: normal;
	margin-left: -4px;
	/*margin-top: 1px;*/
}


/* Darker background on mouse-over 
.btn:hover {
  background-color: #0067a7;
  color: white;
  border-radius: 4px;
}*/

  
  .primary-header .viewAttachments {
    height: 30px;
    margin-bottom:10px;
padding-left: 22px;
	/*padding-left: 290px;*/
	color: #0067a7 !important;
	font-size:15px !important;
	font: -webkit-small-control;
/*width: 230px !important;*/
  }
.primary-header .viewAttachments a{
  text-decoration: underline !important;
margin-left: -50px !important;
  }

  
  a:link, a:visited {
  color: #0067a7;
  text-decoration: none;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: #0067a7;
text-decoration: none;
}

/*for task summary changes*/
.primary-header .tableReadable {
  pointer-events: none; 
    margin-left: -39px;
    margin-right: -39px;
}
.primary-header .tableReadable table,.primary-header .tableView table{
   overflow:hidden;
}
.primary-header .tableReadable td .fieldsbox,.primary-header .tableView td .fieldsbox{
   height:auto;
}
.primary-header .tableReadable td .fieldsbox input.input,.primary-header .tableView td .fieldsbox input.input{
  text-align:left !important;
font-size:13px !important;
}
.primary-header .tableReadable th,.primary-header .tableView th {
text-align:left !important;
}

.primary-header .tableReadable th label,.primary-header .tableView th label{
    font-size: 13px !important;
    font-family: arial !important;
}
.primary-header .bottomTabs .tableGroup .tableReadable td .fieldsbox textarea,.primary-header .bottomTabs .EHTableGroup .tableReadable td .fieldsbox textarea{
      height: 45px !important;
 overflow:hidden;
    border: none;
    font-size: 13px;
    color: #555;
background-color:white;
text-align:left;
resize:none
}

.primary-header .bottomTabs .tableGroup .ActivityLog td .fieldsbox textarea ,.primary-header .bottomTabs .tableGroup .ActivityLog td .fieldsbox textarea:focus,,.primary-header .tableView td .fieldsbox input.input:focus{
   height: 60px !important;
   font-size:13px !important;
}
.primary-header .bottomTabs .tableGroup .ActivityLog td {
 background-color:white;
}
.primary-header .EHTableGroup .ActivityLog td,.primary-header .tableView td {
 background-color:white;
}

.primary-header .ActivityLog {
  pointer-events: all !important; 
}
.primary-header .tableView {
  pointer-events: none !important; 
}
.primary-header .tableReadable  .grid.data .oddrow,.primary-header .tableView .grid.data .oddrow{
    background-color: white;
}

.primary-header .tableGroup {
    margin-left: -26px;
    margin-right: -26px;
    resize: both;
}

.primary-header .tableGroup  .groupcontent,.primary-header .EHTableGroup  .groupcontent {
    overflow-x: hidden;
border:1px;
}
.primary-header .bottomTabs .simplecontainer {
    overflow-x: hidden !important;
}
  .primary-header  .bottomTabs .xcontainerbox .groupheader label{
    color: #ffffff !important;
    font-size: 18px !important;
    /* margin: 10px; */
    position: relative;
    top: 0;
padding-left:0px ;
  }

.primary-header .diffFont label{
font-size: 14px !important;
padding-top: 6px;
font-weight: normal !important;
color: black !important;
}

.primary-header .h_layout .autosuggest{
font-size: 14px !important;
padding-top: 6px;
font-weight: normal !important;
color: black !important;
padding-bottom: 10px;
}

.primary-header .datePicker button.item.small.lookup_button{
position: relative;
    left: 120px;
    top: -22px;
margin-top: 28px;
background-color: #ffffff;
}

.primary-header .topPaddingFields {
margin-top: -15px;
}

.primary-header .topPadding {
	padding-top:10px;
}

input#callComplete {
    margin-right: 5px;
    margin-bottom: 5px;
}

.primary-header .rightcheck label{
left: -13px !important;
}

.primary-header .rightcheck label input{
left: 110px !important;
top: -2px !important;
}

.primary-header .tableGroup .xcontainerbox .groupheader,.primary-header .EHTableGroup .xcontainerbox .groupheader {
    
    text-align: left;
    
    /* position: relative; */
    /* top: 10px; */
  /* padding: 5px 10px 24px 10px;*/
 padding: 3px 15px 35px 10px;
  }
  
  .primary-header .tableGroupCase {
    margin-left: -39px;
    margin-right: -39px;
    resize: both;
}
  .primary-header .tableGroupCase .row  input{
    color: #555;
    cursor: default;
    font-size: 13px;
    border: groove;
    /* border-radius: 4px; */
    height: 25px;
    background-color: white;
    /* width: 200px; */
    /* margin-top: 0px; */
    font: -webkit-small-control;
    width: 120px;
}
  .primary-header .tableGroupCase .row  button{
 padding-left: 4px;
    padding-right: 4px;
    margin-left: 5px;
height:25px;
}



.primary-header .tableGroupCase  .groupcontent {
    overflow-x: hidden;
}

  .primary-header .tableGroupCase .xcontainerbox .groupheader {
    
    text-align: left;
    
    /* position: relative; */
    /* top: 10px; */
      padding: 0px 0px 24px 10px;
  }
.primary-header .tableGroupCase .xcontainerbox .groupheader label{
    
font-size:13px !important;
  }
.primary-header .tableGroupCase span{
    font-family: arial !important;
    /* z-index: 9 !important; */
    color: #0067a7 !important;
    padding-bottom: 20px !important;
    height: 15px !important;
    font-weight: normal !important;
    font-size: 13px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.46px !important;
    padding-left: 0px;
    padding-top: 4px;
}

.primary-header .tableGroupCase .headerfields span{
font-family: arial !important;
    /* z-index: 9 !important; */
    color: #0067a7 !important;
    /*padding-bottom: 20px !important;*/
    height: 15px !important;
    font-weight: bold !important;
    font-size: 13px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.46px !important;
    padding-left: 0px;
    padding-top: 4px;
}

.primary-header .planIdText textarea{
margin-left: -9px;
}
.primary-header .InputBorder .selectbox     ,.primary-header .InputBorder .input{

    height: 30px !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
padding-left:3px !important;

}

.primary-header .InputBorder .selectbox input {
    border: unset;
    padding-top: 4px;
    padding-left: 7px;
}

.primary-header .InputBorder1 .selectbox     ,.primary-header .InputBorder1 .input{

    height: 30px !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;

}

.primary-header .InputBorder1 .selectbox input {
    border: unset;
    padding-top: 4px;
    padding-left: 7px;
}

.primary-header .InputBorder1 {
    height: 30px;
    margin-bottom:10px;
  }

.primary-header .InputBorder1 .selectbox input {
    border: unset;
    padding-top: 4px;
    padding-left: 7px;
}

.primary-header .InputBorder1 .selectbox input.output.ifocus, .primary-header .InputBorder1 .selectbox .input[class~=output]:focus {
font-size: 13px !important;
background-color:white !important;
}

.primary-header .topPadding input {
    margin-top: -25px !important;
}

.primary-header .InputBorderPadding input {
    padding-left: 7px !important;
}

.primary-header .BufferPadding output{
    padding-left: 15px !important;
    margin-top: -20px !important;
}

.primary-header .InputBorder .selectbox input.output.ifocus, .primary-header .InputBorder .selectbox .input[class~=output]:focus {
font-size: 13px !important;
background-color:white !important;
}
.primary-header .inputFieldLeftAlignTop {
    margin-top: 30px;
}
.primary-header .fieldsboxleft {
 margin-top: -11px;
}

.primary-header .ReqNotes textarea{
border:1px solid #ccc;
height:100px;
}
.primary-header .resubmit button {
    font-size: 14px;
    width: auto;
    background-color: #D3D3D3;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    border-color: transparent;
    /* margin-left: 110%; */
    margin-top: -3px;
}
.primary-header .InputBorderDate .input{
   height: 30px !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
padding-left:3px !important;
padding-right:30px;
}
.primary-header .InputBorderDate .lookup_button{
    left: 86px !important;
}
.primary-header .blackFont span,.primary-header .blackFont label{
    font-weight: normal !important;
color: black !important;

}
.primary-header .InputBorder .lookup{
margin-left: 65px !important;
    left: 80px !important;
}
.primary-header .InputBorder .left_align{
width:auto !important;
    left: 10px;
}
.primary-header .InputBorder .lookup_button{
    top: 5px !important;
    left: 80px !important;
}
.primary-header .inputSelectFieldLeftAlign, .primary-header .v_labelSelect {
margin-left:11px;
}
.primary-header .notesHistoryDivclass {

height:180px;
color:#555;
overflow-x:hidden;
white-space:pre-wrap !important;
}
.create-task .feedbackbox #fb_titlebar {

    background-color: #337ab7;
      padding-top: 0px;
    padding-bottom: 0px;
    background-image: none;
top:0px;
left: -1px;
right: -1px;
}
.create-task .feedbackbox #fb_titlebar h1 {
    
    font-size: 18px;
   font-family: arial;
 font-weight: normal !important;

}
.primary-header .headerCreateTask {

   left: -21px;
font-weight: normal;

}
.primary-header .ProductHeader{
 background-color: whitesmoke;
    font-size: 12px;
    text-align: left;
	border-radius: 0px;
  }
  .primary-header .ProductHeader span{

    margin-left: 0px!important;
    font-size: 18px !important;
}
.primary-header .ProductGrp{
    border: 1px solid #d3deed !important;
}
.primary-header .ProductChild{
margin-left:50px;
}
.primary-header .btn-minimize, .primary-header .btn-minimize:hover, .primary-header .btn-minimize:focus {
    background-color: transparent;
    width: 25px;
       color: #106bad;
    margin-top: -6px;
    box-shadow: none;
    border: none;
}
.primary-header .ProductHeader .fa-plus:before {
       /* content: "\f067" !important; */
}
.primary-header .ProductHeader .fieldsbox{
       margin-top: 3px;
  }
.primary-header .AddDelButton, .primary-header .AddDelButton:hover, .primary-header .AddDelButton:focus {
    border: none;
    padding-left: 8px;
    box-sizing: unset;
    box-shadow: none;
    background-color: transparent;
 color: #106bad;
}
.primary-header .ProductGrp .ProductChild i.fa.fa-plus.fa-lg:hover {
    color: #416491;
}
.primary-header .ProductGrp .ProductChild .fa-trash:hover {
    color: #416491;
}
.primary-header .ChoiceYN .h_choicebox {
    width: 55px !important;
    margin-top: 10px;
    margin-left: 10px;
}
.primary-header .ChoiceYN .choicelabel {
    margin-left: 7px;
    margin-bottom:-15px;
    color: #0067a2;
    font-family: arial !important;
    height: 20px !important;
   /*font-weight: bold !important;*/
    font-size: 13px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.64px !important;
   margin-bottom:-10px;
}

.primary-header .ProductGrp .ProductChild .planType span {
    color: black !important;
    font-style: italic !important;
    font-size: 15px !important;
    font-weight: normal !important;
}
.primary-header .ProductGrp .ProductChild .takeOver{
margin-top:-20px;
}
.primary-header .ProductGrp .ProductChild .planIDInput {
    height: 25px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px !important; 
    font-size: 15px !important;
    font: -webkit-small-control;
    width: 130px;
}
.primary-header .ProductGrp .ProductChild .planIDInput input{ 
     border: 1px solid #ccc !important; 
}
.primary-header .ProductGrp .ProductChild .row .col-md-12{
left:5px;
}
.primary-header .ProductGrp .ProductChild .align,.primary-header .align {
left:15px !important;
}
.primary-header .ProductChild span {
    font-size: 15px!important;
    font-weight: bold !important;
	margin-left: 0px;
}
.primary-header .PlansInfo {
  margin-top: -10px;
    margin-left: 10px;
}

.primary-header .ProductGrp .ProductChild .align input {
    color: #555 !important;
    top: -3px;
}
.primary-header .ProductGrp .ProductChild .align textarea{
    color: #555 !important;
    top: -3px;
margin-top:1px !important;
}
.primary-header .CodeLabel label {
width:auto !important;
left:4px !important;
top:2px;
}
.primary-header .CodeLabel .fieldsbox,.primary-header .CodeLabel .OutputLink{
left:200px !important;
overflow-wrap: break-word;
}
.primary-header .ProductGrp .ProductChild .align .left_align {
    left: 0px !important;
}
.primary-header .OutputLink {
  text-decoration: underline !important;
color: #0067a7 !important;
    font-size: 15px;
    font-weight: normal;
  }
.primary-header .bold span{
 font-weight:bold !important;
font-size:15px !important;
  }
.primary-header .FileUpload {	
    opacity: 0;
    position: absolute;
    left: 0;
    width: 60px;
    height: 30px;
    top: 45px;
    font-size: 14px;
    cursor: pointer;	
text-decoration: underline;
	font-weight: normal;
	background: none;
	border: none;
	box-shadow: none;
	color: #0067A7;
}
.primary-header .upload_wrapper .h_button{	
	text-decoration: underline;
	font-weight: normal;
	background: none;
	border: none;
	box-shadow: none;
	color: #0067A7;
    margin-top: 5px;
}
.primary-header .preProcessing button.iapp-typical-btn {
    width:100px !important;
	padding-left: 12px !important;
}
.primary-header .preProcessing .dropdown-menu{
	min-width: auto !important;
        
}
.primary-header .EHTableGroup .groupheader label{
	font-weight: normal;
	margin-left: -14px;
}
.primary-header .italic label{
font-style:italic !important;
}
.primary-header .italic input{
font-style:italic !important;
}
.primary-header .InputBorder a .OutputLink {
 margin-left: 20px;
  }
.primary-header .UWMessageTable td .fieldsbox input.input {
	text-align:left !important;
}

.primary-header .UWMessageTable .grid.data th label{
    position: relative;
    top: 0px;
    padding-left: 0px;
    color: rgb(255, 255, 255) !important;
    font-size: 18px !important;
    font-weight: normal;
	}
.primary-header .UWresponse .v_layout_i .fieldsbox {
    margin-top: 24px !important;
}
.primary-header input#GrpDdctnFreq {
   width: 200px !important;
}
.primary-header input#GrpPayMethod {
    width: 200px !important;
}
.primary-header input#GrpEnSystems {
width: 200px !important;
}
.primary-header input#GrpEnrollmentMethodology {
width: 200px !important;
}
.primary-header .alignRadioNotes {
    left: 25px !important;
    right: 409px !important;
}
.primary-header .letterType .choicelabel{
top:9px !important;
}
.primary-header .align .input.output.left_align {
top:-3px;
color:#555 !important;
}	
.primary-header .buttonLink {
    border: none !important;
    background-color: white !important;
    box-shadow: none !important;
    margin-left: 15px !important;
}
.primary-header .letterType .fieldsbox {
    left: 144px !important;
}
.primary-header .italiclabel label {
    font-style: italic !important;
	 
}
.primary-header .cicainput input {
        width: 70px !important;
	 
}
.primary-header .ChoiceOpt .choicelabel {

   font-weight: normal !important;
  font-size: 13px !important;
}
.primary-header .ChoiceOpt .h_choicebox label{

   font-weight: normal !important;
  font-size: 13px !important;
}

.primary-header .ChoiceOpt .fieldsbox{
    margin-top: -15px !important;
    margin-left: -10px;
}

.primary-header .tableMargin{
    margin-left:5px;
  }
.primary-header .ErrorCode label {
width:auto !important;
left:4px !important;
top:2px;
 font-weight: bold !important;
}
  .primary-header .selectbox,.left_align, .primary-header .inputFieldLeftAlign, .primary-header .ErrorCode label{
height: 30px;
color: #0067a7 !important;
background-color: #fff;
background-image: none;
 border: 0px solid #ccc; 
/*border-radius: 4px;*/
/* margin: 0 0 0 0; */
font-size:13px !important;
font: -webkit-small-control;
padding-top:4px;
letter-spacing: 0.46px !important;
}
.primary-header .ErrorCode .fieldsbox,.primary-header .ErrorCode .OutputLink{
left:200px !important;
overflow-wrap: break-word;
}

.manualTask_radio
{
    white-space: nowrap;
}
#table6 tbody tr {
  background-color: #EEEEEF;
}
#table6 tbody tr td:last-child div button{
/*background: padding-box;*/
padding: 28px 28px 58px;
}
.primary-header .ChoiceRad .h_choicebox {
    width: 150px !important;
    margin-top: -35px;
    margin-left: -6px;
}